run = "cd backend_v2 && uvicorn app.main:app --host 0.0.0.0 --port 8000 --timeout-keep-alive 300"

modules = ["python-3.9"]

[nix]
channel = "stable-23_11"

[deployment]
run = ["sh", "-c", "cd backend_v2 && uvicorn app.main:app --host 0.0.0.0 --port 8000 --timeout-keep-alive 300"]
